h1 {
    text-align: center;
    border: 3px solid black;
    font-size: 65px;
    font-weight: 100;
    color: #722222;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    font-size: 35px;
    color: brown;
}

p {
    font-size: 25px;
}

ul li {
    font-size: 22px;
}

#img_01 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 425px;
}

img {
    width: 500px;
}

.row {
    display: flex;
}
.column {
    flex: 33.33%;
    padding: 3px; 
}

a:hover {
    color: red;
}